body {
  background: #f2b51e;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-container {
  /* position: absolute; */
  /* top: 50%;
  left: 0;
  right: 0; */
  width: 800px;
  padding: 35px;
  /* margin: -83px auto 0 auto; */
  background-color: #30b78d;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transform: scale(0.6);
}

input,
button {
  color: #fff;
  /* font-family: Nunito; */
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  outline: none;
}

input[type='text'] {
  width: 100%;
  height: 40px;
  font-size: 40px;
  line-height: 1;
}

input[type='text']::placeholder {
  color: #e16868;
}

.header {
  width: 100%;
  background-color: #ea5e6b;
  height: 98px;
  box-shadow: 0 10px 40px #ea5e6b;
}

.header-title {
  margin: auto;
  margin-left: 100px;
  padding-top: 45px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
